<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--<context:component-scan base-package="com.learn.mvc.control"/>-->
    <!--<mvc:annotation-driven/>-->
    <!--<mvc:default-servlet-handler/>-->

    <!--&lt;!&ndash;指定视图解析器&ndash;&gt;-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--&lt;!&ndash; 视图的路径 &ndash;&gt;-->
        <!--<property name="prefix" value="/WEB-INF/jsp/"/>-->
        <!--&lt;!&ndash; 视图名称后缀  &ndash;&gt;-->
        <!--<property name="suffix" value=".jsp"/>-->
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
    <!--</bean>-->
    <!--<bean id="simple" class="com.learn.mvc.control.SimpleController"></bean>-->
    <!--<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">-->
        <!--<property name="urlMap">-->
            <!--<props>-->
                <!--<prop key="hello.do">simple</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"></bean>-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/WEB-INF/jsp/" />-->
        <!--<property name="suffix" value=".jsp" />-->
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />-->
    <!--</bean>-->
    <context:component-scan base-package="com.learn.mvc.control" />
    <!--注解驱动-->
    <mvc:annotation-driven />
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <!-- 视图的路径 -->
    <property name="prefix" value="/WEB-INF/jsp/"/>
    <!-- 视图名称后缀  -->
    <property name="suffix" value=".jsp"/>
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>

</beans>